<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
    
    <script>
        var app =angular.module('myApp', [])
            .controller('CacheController', ['$scope', 'makeCache', '$cacheFactory', function ($scope, makeCache, $cacheFactory) {
                  $scope.keys = [];
                  $scope.cache = $cacheFactory('cacheId');
               
                  $scope.put = function (key, value, time, keys, cache) {
                      makeCache(key, value, time, keys, cache)
                  };
            }])
        .factory('makeCache', function ($timeout) {
            return function (key, value, time, keys, cache) {
                if (angular.isUndefined(cache.get(key))) {
                    keys.push(key);
                }
                cache.put(key, angular.isUndefined(value) ? null : value);
                var removeCache = $timeout(function () {
                    var index = keys.indexOf(key);
                    keys.splice(index, 1);
                    cache.remove(key);
                    alert("Cache "+ key+ " is deleted!");
                }, parseInt(time));
            }
        })
    </script>
</head>
<body>
    <div ng-controller="CacheController">
        <input ng-model="newCacheKey" placeholder="Key">
        <input ng-model="newCacheValue" placeholder="Value">
        <input ng-model="newCacheExpTime" placeholder="Live Time, ms" />
        <button ng-click="put(newCacheKey, newCacheValue,newCacheExpTime,keys,cache)">Cache</button>
        <p ng-if="keys.length">Cached Values</p>
        <div ng-repeat="key in keys">
            <span>{{key}}</span>
            <span>: </span>
            <b>{{cache.get(key)}}</b><br />
            <span>Deleted after:</span><b>{{newCacheExpTime}}</b>
        </div>
        <p>Cache Info</p>
        <div ng-repeat="(key, value) in cache.info()">
            <span ng-bind="key"></span>
            <span>: </span>
            <b ng-bind="value"></b>
        </div>
    </div>
</body>
</html>
