<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script>
        var app=angular.module("myApp", [])

        app.controller("mainCtrl", function ($scope, $interval, $timeout, $window) {
            var self = this;
            var totalElapsedMs = 0;
            var elapsedMs = 0;
            var startTime;
            var timerPromise;
            var sec="00";
            var min="00";
            var hour = "0";
            var ms = "000";

            $scope.start = function() {
                if (!timerPromise) {
                    startTime = new Date();
                    timerPromise = $interval(function() {
                        var now = new Date();
                        //$scope.time = now;
                        elapsedMs = now.getTime() - startTime.getTime();
                        if (elapsedMs > 1000) {                                                                              
                            if ((elapsedMs - Math.floor(elapsedMs / 1000) * 1000) < 100) ms = "0" + (elapsedMs - Math.floor(elapsedMs / 1000) * 1000);
                            
                            if ((elapsedMs - Math.floor(elapsedMs / 1000) * 1000) < 10) ms = "00" + (elapsedMs - Math.floor(elapsedMs / 1000) * 1000);
                            if (Math.floor(elapsedMs / 1000) > 59) {
                                if ((Math.floor((Math.floor(elapsedMs / 1000)) / 60)) > 59) {
                                    hour = Math.floor((Math.floor((Math.floor(elapsedMs / 1000)) / 60)));
                                    if ((Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60) < 10) min = "0" + (Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60)
                                    min = (Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60);
                                    if ((Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60) * 60) < 10) sec = "0" + (Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60) * 60);
                                    sec = Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60) - hour * 60) * 60;                          
                                }
                                if ((Math.floor((Math.floor(elapsedMs / 1000)) / 60)) < 10) min = "0" + (Math.floor((Math.floor(elapsedMs / 1000)) / 60));
                                min = (Math.floor((Math.floor(elapsedMs / 1000)) / 60));
                                if ((Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60)) * 60) < 10) sec = "0" + (Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60)) * 60);
                                sec = (Math.floor(elapsedMs / 1000) - (Math.floor((Math.floor(elapsedMs / 1000)) / 60)) * 60)
                            }
                            if (Math.floor(elapsedMs / 1000)<10) sec= "0"+(Math.floor(elapsedMs / 1000));
                            sec = Math.floor(elapsedMs / 1000);
                        }
                        else {
                            ms = elapsedMs;
                            if (elapsedMs < 100) ms = "0" + elapsedMs;
                            if (elapsedMs < 10) ms = "00" + elapsedMs;

                        }
                    }, 31);
                }
            };

           $scope.stop = function() {
                if (timerPromise) {
                    $interval.cancel(timerPromise);
                    timerPromise = undefined;
                    totalElapsedMs += elapsedMs;
                    elapsedMs = 0;
                }
            };

            $scope.reset = function() {
                startTime = new Date();
                totalElapsedMs = elapsedMs = 0;
                hour = 0;
                min = "00";
                sec = "00";
                ms = "000";
            };

            self.getTime = function() {
                return time;
            };

            $scope.getElapsedMs = function() {
                return hour+":"+min+":"+sec+":"+ms;
            };




        })
    </script>
</head>
<body ng-controller="mainCtrl" class="well">
    <div class="panel panel-default">
        <h4 class="panel-heading">Секундомер</h4>
        <div class="panel-body">
            <button class="btn btn-default" ng-click="start()">Start</button>
            <button class="btn btn-default" ng-click="stop()">Stop</button>
            <button class="btn btn-default" ng-click="reset()">Clear</button>
            The time is: {{getElapsedMs()}}
        </div>
    </div>
</body>
</html>
